body {
    font-family: europa, sans-serif;
    margin: 0;
    background: rgb(61, 123, 144);
}


.header1 {
    font-size: 50px;
    height: auto;
    width: auto;
    font-weight: 100px;
    color: rgb(0, 0, 0);
}

.div1 {
    height: 500px;
    width: auto;
}

.img1 {
  width: 95%;
  height: auto;
  max-width: 750px;

}


.button {
    width: 150px;
    height: 45px;
    border: none;
    color: white;
    background-color: #000000;
    box-shadow: inset 0 0 0 0 rgb(255, 255, 255);
    transition: ease-out 0.3s;
    outline: none;
    font-size: medium;
    border-radius: 4px;

}


.p1 {
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.icon1 {
    height: 50px;
    width: auto;
}



.writing1 {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  width: auto;
  max-width: 1000px;
  padding-left: 30px;
  padding-right: 30px;
}




